
.App {
  text-align: center;
}

.App-header {
  background: #dee2d8;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.App-main {
  background: linear-gradient(45deg, #73cdbf 0%,#fdb7a5 100%); 
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.App-card {
  background-color: #8cc9bc;
  min-width: 30%;
  color: white;
  margin-top: 10px;
}

.card-footer {
  max-height: 80px;
  background-color: white;
  color: grey;
  display: flex;
  justify-content: space-around;
  min-width: 30%;
}

.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  border-right: 2px solid grey;
}

.link {
  margin-left: 90%;
}

.App-footer {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: grey;

}